<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[*.Tests]*,[*.Benchmarks]*,[*.Example]*,[*Tests]*,[*Benchmark]*</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/bin/**/*,**/obj/**/*,**/_site/**/*,**/TestResults/**/*,**/Benchmarks/**/*,**/Example/**/*</ExcludeByFile>
          <IncludeDirectory>RedisKit</IncludeDirectory>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>